{
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "proseWrap": "always",
  "endOfLine": "crlf",
  "semi": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleQuote": true,
  "tabWidth": 2
}
