{
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "proseWrap": "always",
  "semi": true,
  "printWidth": 100,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleQuote": true,
  "tabWidth": 2,
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "singleQuote": true,
        "jsxSingleQuote": false
      }
    }
  ]
}
