---
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title: string;
  role: string;
  description: string;
  src: string;
}

const { title, role, description, src } = Astro.props;
---

<div
  class="flex min-w-[348px] flex-1 flex-grow flex-col items-center justify-between rounded-xl border border-border-secondary p-10 text-second sm:min-w-[100%] sm:px-6 sm:py-10"
>
  <div class="flex w-full flex-col items-start gap-[30px] text-light">
    <div class="flex w-full gap-[13px] font-medium">
      <div class="h-[50px] w-[50px]">
        <Image src={src} quality="max" alt={title || ''} width="50" height="50" />
      </div>
      <div class="flex flex-col items-start">
        <p class="text-lg">
          {t(title)}
        </p>
        <p class="text-start">
          {t(role)}
        </p>
      </div>
    </div>
    <p>
      {t(description)}
    </p>
  </div>
</div>
