---
import Section from '@components/common/Section.astro';
import TestimonialCard from '@components/Main/TestimonialsSection/TestimonialCard.astro';
import { testimonialCards, COUNT_ITEM_IN_COLUMN } from '@utils/constants';
---

<Section title="main.testimonials" description="">
  <Fragment slot="content-section">
    <div
      class="mt-11 flex flex-wrap items-start justify-center gap-x-[23px] md:mt-10 md:gap-[23px]"
    >
      {
        [0, 1].map((columnIndex) => (
          <div class="flex max-w-[430px] flex-1 flex-col gap-5 md:max-w-[352px] md:gap-[23px]">
            {testimonialCards
              .slice(
                columnIndex * COUNT_ITEM_IN_COLUMN,
                columnIndex * COUNT_ITEM_IN_COLUMN + COUNT_ITEM_IN_COLUMN
              )
              .map((card) => (
                <TestimonialCard
                  title={card.title}
                  role={card.role}
                  description={card.description}
                  src={card.src}
                />
              ))}
          </div>
        ))
      }
    </div>
  </Fragment>
</Section>
