@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 24 24 24;
    --foreground: 0 0 100 60%;

    --primary: 68 82 254;
    --primary-foreground: 210 40% 98%;

    --secondary: 2 228 192;
    --secondary-foreground: 17 45 87;

    --first-text: 0 0 0;
    --second-text: 92 92 92;
    --light-text: 255 255 255;

    --border: 208 208 208;
    --input: 255 255 255;

    --radius: 0.5rem;
  }

  .dark {
    --background: 24 24 24;
    --foreground: 0 0 100 60%;

    --primary: 68 82 254;
    --primary-foreground: 210 40% 98%;

    --secondary: 2 228 192;
    --secondary-foreground: 17 45 87;

    --first-text: 0 0 0;
    --second-text: 92 92 92;
    --light-text: 255 255 255;

    --border: 208 208 208;
    --input: 255 255 255;

    --radius: 0.5rem;
  }

  @font-face {
    font-family: "Graphik";
    src:
      url("/fonts/Graphik-Regular.woff") format("woff"),
      url("/fonts/Graphik-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Graphik";
    src:
      url("/fonts/Graphik-Medium.woff") format("woff"),
      url("/fonts/Graphik-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SpaceGrotesk";
    src: url("/fonts/SpaceGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
}

@layer base {
  body {
    @apply bg-background text-light;
  }
}
