---
import { t } from 'i18next';
---

<section class='pb-[120px] pt-[50px] md:pb-[100px]'>
  <div
    class='mx-auto my-0 my-20 flex max-w-[1220px] items-center justify-between gap-[86px] overflow-hidden rounded-[33px] bg-primary-foreground lg:flex-col lg:gap-0 lg:rounded-none lg:bg-secondary-foreground sm:px-4'
  >
    <div
      class='ml-[86px] flex min-w-[200px] max-w-[500px] flex-1 flex-col items-start justify-start py-[62px] lg:ml-0 lg:items-center md:py-[104px]'
    >
      <h2 class='mb-[37px] text-[52px] leading-[62px] lg:text-center md:max-w-[340px] sm:text-3xl'>
        {t('main.prototyping')}
      </h2>
      <a href='#' target='_blank' class='btn btn-primary small'>{t('btn-try-for-free')}</a>
    </div>
    <div
      class="h-[365px] w-full max-w-[585px] bg-[url('/images/prototyping.webp')] bg-center bg-no-repeat md:h-[384px] md:bg-[url('/images/prototyping-mob.webp')] sm:max-w-[541px]"
    >
    </div>
  </div>
</section>
