---
import { Image } from "astro:assets";
import { t } from "i18next";
import ScreensImg from "@public/images/screens.webp";
---

<section
  class='flex flex-col items-center pt-[85px] pb-[50px] md:pt-[57px] bg-background'
>
  <div
    class='flex flex-col items-center px-6 sm:px-4 md:px-[30px] text-center max-w-[760px] md:max-w-[370px]'
  >
    <h1
      class='text-[80px] md:text-[52px] leading-[88px] md:leading-[66px] mb-[17px] p-[10px] md:p-0'
    >
      {t("main.screens")}
    </h1>
    <p class='text-xl sm:text-xl'>{t("main.screens.desc")}</p>
  </div>
  <div
    class='flex md:flex-col items-center gap-[35px] sm:gap-5 text-center mt-[85px] sm:mt-[57px]'
  >
    <a href='#' target='_blank' class='btn btn-primary'
      >{t("btn-try-for-free")}</a
    >
    <a href='#' target='_blank' class='btn btn-secondary'
      >{t("btn-learn-more")}</a
    >
  </div>
  <div
    class='gradient-img relative inline-block mt-[35px] mb-[160px] md:mb-0 sm:mt-[57px] md:h-[453px] before:top-67.1 before:max-h-full before:h-gradient'
  >
    <Image
      src={ScreensImg}
      quality='max'
      alt='graphics'
      widths={[240, 540, 720, ScreensImg.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, ${ScreensImg.width}px`}
    />
  </div>
</section>
