---
import { t, changeLanguage } from 'i18next';
import Layout from '@layouts/Layout.astro';

changeLanguage('en');

export const prerender = true;
---

<Layout title='about.page.title' description='about.page.description'>
  <main class='flex items-center justify-center'>
    {t('no-content')}
  </main>
</Layout>
