---
import Screens from '@components/Main/Screens.astro';
import Features from '@components/Main/FeatureSection/Features.astro';
import Contents from '@components/Main/ContentsSection/Contents.astro';
import Gallery from '@components/Main/GallerySection/Gallery.astro';
import Partners from '@components/Main/PartnersSection/Partners.astro';
import Testimonials from '@components/Main/TestimonialsSection/Testimonials.astro';
import Prototyping from '@components/Main/Prototyping.astro';
---

<main>
  <Screens />
  <Features />
  <Contents />
  <Gallery />
  <Partners />
  <Testimonials />
  <Prototyping />
</main>
