---
import { getLangFromUrl } from "@/i18n/utils";
import Section from "@/components/common/Section.astro";
import PartnersLogo from "./PartnersLogo";

const lang = getLangFromUrl(Astro.url);
---

<Section title='main.partners' description='main.partners.desc'>
  <Fragment slot='content-section'>
    <PartnersLogo client:only='react' lang={lang} />
  </Fragment>
</Section>
