---
import { t } from "i18next";

interface Props {
  title: string;
  description: string;
  src: string;
}

const { title, description, src } = Astro.props;
---

<div class='flex flex-col gap-[25px]'>
  <div class='flex flex-col items-start pb-10'>
    <div class='flex items-center gap-[10px]'>
      <img src={src} alt='graphics' width='32' height='62' />
      <p class='text-xl font-medium text-start max-w-[158px]'>{t(title)}</p>
    </div>
    <p class='text-start p-[10px]'>
      {t(description)}
    </p>
  </div>
</div>
